<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome/css/font-awesome.min.css') }}">
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    {% block stylesheets %}

    {% endblock %}
</head>


<body>
{#-----------------
-------------------
---HEADER NAVBAR---
-------------------
-------------------#}
        <nav class="navbar navbar-expand-sm navbar-light bg-transparent d-flex">
            <a class="col-3 navbar-brand" href="{{ path('homepage') }}">NAO</a>
            <ul class=" col-6 navbar-nav mt-sm-0 justify-content-center">
                <div class="row">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage') }}">ACCUEIL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('observation') }}">OBSERVATIONS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">OISEAUX</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('actualites') }}">ACTUALITÉS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('aPropos') }}">A PROPOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">CONTACT</a>
                    </li>
                </div>

            </ul>
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profile') }}">PROFIL</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link btn btn-outline" href="{{ path('security_logout') }}">DÉCONNEXION</a>
                </li>

            {% else %}
                <div class="col-3 d-flex justify-content-end">
                    <a class="btn btn-outline mx-1" href="{{ path('security_login') }}">CONNEXION</a>
                    <a class="btn btn-primary mx-1" href="{{ path('user_register') }}">INSCRIPTION</a>
                </div>
            {% endif %}
        </nav>
        <div class="navbar-wing d-flex flex-column align-items-center">
            <svg preserveAspectRatio="none" width="100%" height="80px" viewBox="0 0 375 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <desc>Aile</desc>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(0.000000, -41.000000)">
                        <g transform="translate(0.000000, 41.000000)">
                            <path d="M375,0 L375,57.875 C329.3125,33.25625 262.475,17.73125 188.0125,17.73125 C113.3,17.73125 46.2625,33.3625 0.56875,58.125 C0.375,58.225 0.1875,58.33125 0,58.43125 L0,0 L375,0 Z" id="Fill-1" fill="#FFFEF9"></path>
                            <path d="M375,57.875 C329.3125,33.25625 262.475,17.73125 188.0125,17.73125 C113.3,17.73125 46.2625,33.3625 0.56875,58.125 C0.375,58.225 0.1875,58.33125 0,58.43125 C0.1125,58.325 0.23125,58.225 0.34375,58.125 C29.525,31.7 79.99375,12.0875 140.03125,5.1875 C143.575,4.78125 147.15625,4.41875 150.76875,4.1 C153.175,3.89375 155.59375,3.7 158.025,3.53125 C160.4625,3.35625 162.90625,3.20625 165.3625,3.08125 C170.28125,2.81875 175.25,2.65 180.25625,2.5625 C182.7625,2.51875 185.28125,2.49375 187.80625,2.49375 C188.225,2.49375 188.64375,2.49375 189.0625,2.5 C268.9375,2.725 338.4625,25 375,57.875" id="Fill-3" fill="#E7E7E7"></path>
                        </g>
                    </g>
                </g>
            </svg>
            <img class="navbar-logo" src="{{ asset('bundles/app/img/logo.svg') }}" alt="NAO_LOGO">
        </div>

{#-----------------
--------------------
--CONTENU PRINCIPAL-
--------------------
-------------------#}
    <div class="main-content">
        {% block body %}
        {% endblock %}
    </div>


{#----------------
------------------
-----FOOTER-------
------------------ 
------------------#}
<div id="footer">
    <img src="{{ asset('bundles/app/img/footer/wave-brown.svg') }}" alt="vague" style="width: 100%">
    <div class="container-fluid" id="footerNewsletter">
        <div class="container py-5 px-3 px-lg-5">
            <div class="row justify-content-center align-items-center" >
                <div class="col-12 col-md-4 text-center" id="souscrire">
                    <h2>SOUSCRIRE</h2>
                    <p>à notre newsletter</p>
                </div>
                <div class="col-12 col-md-8">
                    <div class="input-group align-items-center mb-0">
                        <input type="text" class="form-control" placeholder="Email address">
                        <a class="input-group-addon text-center" href="#"><span class="fa fa-envelope input-group-icon"></span></a>
                    </div>
                    <p class="text-muted">Votre email ne sera pas partagé</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex flex-wrap align-items-center justify-content-around" id="footerLinks">
        <div class="col-6 col-sm-3 col-lg-2 my-4 my-md-0 order-sm-2">
            <img src="{{ asset('bundles/app/img/logo.svg') }}" alt="NAO_LOGO">
        </div>
        <div class="col-12 col-sm-3 text-center my-4 my-md-0 order-sm-1">
            <h1 class="mb-1" id="footer-title">NAO</h1>
            <i class="fa fa-facebook-official fa-2x m-2" aria-hidden="true"></i>
            <i class="fa fa-instagram fa-2x m-2" aria-hidden="true"></i>
            <i class="fa fa-twitter fa-2x m-2" aria-hidden="true"></i>
            <i class="fa fa-pinterest fa-2x m-2" aria-hidden="true"></i>
            <i class="fa fa-youtube fa-2x m-2" aria-hidden="true"></i>
            <i class="fa fa-linkedin fa-2x m-2" aria-hidden="true"></i>
        </div>
        <div class="col-12 col-sm-3 my-4 my-md-0 order-sm-3">
            <ul class="text-center nav flex-column">
                <li class="nav-item"><a href="#" class="nav-link">A propos</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                <li class="nav-item"><a href="#" class="nav-link">FAQ</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Copyright</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Mentions légales</a></li>
            </ul>
        </div>
    </div>

</div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
