<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/base.css') }}">
    {% endblock %}

</head>


<body>

{#-----------------
-------------------
---HEADER NAVBAR---
-------------------
-------------------#}
<header class="cover text-center">
    <nav class="navbar navbar-toggleable-sm">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarToggler-1" aria-controls="navbarToggler-1" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">NAO</a>
            <div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarToggler-1">
                <ul class="navbar-nav mt-2 mt-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage') }}">ACCUEIL <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('observation') }}">OBSERVATIONS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">OISEAUX</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ACTUALITÉS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">A PROPOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">PROFIL</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('security_logout') }}">DÉCONNEXION</a>
                    {% else %}
                        <a class="btn btn-outline-white btn-outline" href="{{ path('security_login') }}"><i
                                    class="fa fa-user"></i> CONNEXION
                        </a>
                        <a class="btn btn-outline-white btn-outline" href="{{ path('user_register') }}"><i
                                    class="fa fa-user"></i> INSCRITPION
                        </a>

                    {% endif %}
                    <li class="nav-item">
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


{#-----------------
--------------------
--CONTENU PRINCIPAL-
--------------------
-------------------#}
<div class="main-content">
    {% block body %}
    {% endblock %}
</div>


{#----------------
------------------
-----FOOTER-------
------------------
------------------#}
<div class="footer">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="input-group">
                <h2>SOUSCRIRE</h2>
                <br/>
                <p>à notre newsletter</p>
                <input type="text" class="form-control" placeholder="mon@adresse.com" aria-label="souscription">
                <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Ok!</button>
                </span>
            </div>
        </div>

    </div>
    <div class="card text-center" id="footer">
        <div class="card-body">
            <h4 class="card-title">LOGO</h4>
            <p class="card-text">Réseaux soiciaux</p>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Copyright</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mentions légales</a>
                </li>
            </ul>
        </div>
    </div>

</div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
