<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome/css/font-awesome.min.css') }}">
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    {% block stylesheets %}

    {% endblock %}

</head>


<body>

{#-----------------
-------------------
---HEADER NAVBAR---
-------------------
-------------------#}
   <div class="container-fluide">
    <nav class="navbar navbar-expand-sm navbar-light bg-transparent">
        <div class="container">
            <a class="navbar-brand" href="{{ path('homepage') }}">NAO</a>
                <ul class="navbar-nav mt-sm-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage') }}">ACCUEIL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('observation') }}">OBSERVATIONS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">OISEAUX</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('actualite') }}">ACTUALITÉS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">A PROPOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profile') }}">PROFIL</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline" href="{{ path('security_logout') }}">DÉCONNEXION</a>
                        </li>

                        {% else %}
                            <li class="nav-item">
                                <a class="btn btn-outline" href="{{ path('security_login') }}"> CONNEXION
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="btn  btn-outline" href="{{ path('user_register') }}"> INSCRIPTION
                                </a>
                            </li>

                        {% endif %}
                        <li class="nav-item">
                        </li>
                </ul>
        </div>
    </nav>


{#-----------------
--------------------
--CONTENU PRINCIPAL-
--------------------
-------------------#}
    <div class="main-content">
        {% block body %}
        {% endblock %}
    </div>


{#----------------
------------------
-----FOOTER-------
------------------
------------------#}
<div class="footer">
    <div class="container-fluid" id="footerNewsletter">
        <div class="container p-5">
            <div class="row" >
                <div class="col" id="souscrire">
                    <h2>SOUSCRIRE</h2>
                    <br/>
                    <p>à notre newsletter</p>
                </div>
                <div class="col">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email address">
                        <span class="input-group-addon"><a href="#">Inscription</a></span>
                    </div>
                    <p class="text-muted">Votre email ne sera pas partagé</p>
                </div>

            </div>
        </div>

    </div>
    <div class="container-fluid" id="footer">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-3">
                    <h1 style="color: #999999">NAO</h1>
                    <br>
                    <i class="fa fa-facebook-official fa-3x mx-2" aria-hidden="true" style="color: #999999"></i>
                    <i class="fa fa-instagram fa-3x mx-2" aria-hidden="true" style="color: #999999"></i>
                    <i class="fa fa-twitter fa-3x mx-2" aria-hidden="true" style="color: #999999"></i>

                </div>
                <div class="col-3">
                    <img src="{{ asset('bundles/app/img/logo.png') }}" alt="NAO_LOGO" style="width: 150px ">
                </div>
                <div class="col-3">
                    <ul class="nav flex-column" style="color: #999999;">
                        <li class="nav-item"><a href="#" class="nav-link">A propos</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Copyright</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Mentions légales</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
