{% extends 'base.html.twig'%}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-social.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
{% endblock %}

{% block body%}
    <div class="container-fluid heading-page">
        <h1 class="text-center">Inscription</h1>
        <p class="text-center"><a href="{{ path('homepage') }}">Accueil</a> >> <a href="{{ path('user_register') }}">Inscription</a></p>
    </div>
    <div class="wave-svg">
        <svg width="100%" height="100%" viewBox="0 0 1430 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="wave-driedwood">
                    <g transform="translate(720.000000, 40.000000) scale(1, -1) translate(-720.000000, -40.000000) ">
                        <g>
                            <path d="M0,52 C0,52 153,1.46804748e-14 378.5,0 C604,0 836,52 1005,52 C1174,52 1440,0 1440,0 L1440,80 L0,80 L0,52 Z" fill="#E7E1DC"></path>
                            <path d="M0,78 C0,78 153,26 378.5,26 C604,26 836,78 1005,78 C1174,78 1440,26 1440,26 L1440,80 L0,80 L0,78 Z" fill="#F7F3F1"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>

    <div class="container mt-5" id="form">
        <div class="row">
            <div class="col-12 col-lg-6 mx-auto">
                <div class="heading">
                    <h2>Foncez !</h2>
                    <span>L'aventure n'attend pas !</span>
                </div>

                <h4 class="text-center mb-4">Connectez-vous !</h4>
                <a href="{{ path('connect_to_facebook') }}" class="btn btn-block btn-social btn-facebook text-center">Se connecter avec Facebook</a>
                <a href="#" class="btn btn-block btn-social btn-google text-center">Se connecter avec Google</a>

                {% for message in app.flashes('notice') %}
                    <div class="alert alert-info">
                        <div>{{ message }}</div>
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                    {{ form_row(form.username,{
                       'label' : 'Pseudo'
                    }) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword.first, {
                        'label' : 'Mot de passe'
                    }) }}
                    {{ form_row(form.plainPassword.second, {
                        'label' : 'Confirmez votre mot de passe'
                    }) }}

                    <div class="text-center">
                        <button role="submit" class="btn btn-primary mx-auto" formnovalidate>S'inscrire</button>
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

