{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/actualite.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid heading-page">
        <h1 class="text-center">{{ actualite.title }}</h1>
        <p class="text-center">Accueil >> {{ actualite.title }}</p>
    </div>
    <div class="wave-svg">
        <svg width="100%" height="100%" viewBox="0 0 1430 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="wave-driedwood">
                    <g transform="translate(720.000000, 40.000000) scale(1, -1) translate(-720.000000, -40.000000) ">
                        <g>
                            <path d="M0,52 C0,52 153,1.46804748e-14 378.5,0 C604,0 836,52 1005,52 C1174,52 1440,0 1440,0 L1440,80 L0,80 L0,52 Z" fill="#E7E1DC"></path>
                            <path d="M0,78 C0,78 153,26 378.5,26 C604,26 836,78 1005,78 C1174,78 1440,26 1440,26 L1440,80 L0,80 L0,78 Z" fill="#F7F3F1"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>

    <section class="mt-5">
        <div class="container mb-0 mb-md-4">
            {#----------------#}
            {#PARTIE ACTUALITE#}
            {#----------------#}

            <div class="media align-items-center mb-3">
                <img src="{{ asset('bundles/app/img/'~ user.profilePicture) }}" alt="Photo {{ user.username|capitalize }}" class="d-flex mr-3 profilePicture">
                <p class="font-weight-bold mb-0">{{ user.username|capitalize }}</p>

            </div>

            <h6 class="text-center mb-4">{{ actualite.updateAt|localizeddate('full', 'none')|upper }}</h6>

            <h3 class="my-4 mt-md-0 text-center text-md-left d-sm-block d-md-none">{{ actualite.title|upper }}</h3>

            <div class="flex-wrap media align-items-center justify-content-center">
                <img class="col-12 col-md-4 rounded mr-md-4 p-0" src="{{ asset('bundles/app/img/'~actualite.actualiteImage) }}" alt="image d'actualité">
                <div class="media-body col-12 col-md-8 p-0">
                    <h3 class="mt-4 mt-md-0 text-center text-md-left d-sm-none d-md-block">{{ actualite.title|upper }}</h3>
                    <p class="mt-4 mt-md-0 text-justify">{{ actualite.content }}</p>

                </div>
            </div>
        </div>
    </section>

    {#-------------------#}
    {#PARTIE COMMENTAIRES#}
    {#-------------------#}
    <section id="commentSection">
        <div class="container">

            <div class="flex-wrap flex-column comm-display p-0">
                {% for comment in comments %}

                    <div class="d-flex flex-nowrap align-items-center comm m-3">
                        <img src="{{ asset('bundles/app/img/'~comment.user.profilePicture) }}" alt="" class="comment-avatar rounded-circle">
                        <div class="col-12 pl-3">
                            <div class="col-12 px-0">
                                <p class="mb-1 font-weight-bold">{{ comment.user.username|capitalize }}</p>

                            </div>
                            <div class="col-12 px-0">
                                <p class="mb-0 text-left">{{ comment.content|capitalize }}</p>
                            </div>
                            <div class="col-12 px-0">
                                <span class="time">{{ comment.updateAt|ago }}</span>
                            </div>  
                        </div>
                    </div>
                {% endfor %}
            </div>

        {#-------------------#}
        {#FORMULAIRE COMMENT#}
        {#-------------------#}
            <div class="row mt-4 align-items-center">
                <div class="col-12 col-lg-9" id="addComment" >
                    {% include 'form/commentForm.html.twig' %}
                </div>
                <div class="col-12 col-lg-3 mt-4 mt-lg-0 social-comment d-flex justify-content-center justify-content-lg-end">
                    <i class="fa fa-facebook-official fa-3x ml-4" aria-hidden="true"></i>
                    <i class="fa fa-instagram fa-3x ml-4" aria-hidden="true"></i>
                    <i class="fa fa-twitter fa-3x ml-4" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="d-flex flex-wrap justify-content-around justify-content-sm-between align-items-center mt-5">
            <a href="{{ path('observation') }}" class="text-center btn btn-outline my-3 my-sm-0">précédent</a>
            <a href="{{ path('observation') }}" class="text-center btn btn-outline my-3 my-sm-0">suivant</a>
        </div>
    </div>


    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/actualite.js') }}"></script>
{% endblock %}