{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/actualite.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid" id="headContainer">
        <img src="{{ asset('bundles/app/img/logo.png') }}" alt="logo_nao" id="logo">
        <h1 class="text-center">{{ actualite.title|upper }}</h1>
        <p class="text-center">Accueil>>Actualités>>>{{ actualite.title|capitalize }}</p>
    </div>
    <div class="container">

        <div class="media">
            <img src="{{ asset('bundles/app/img/'~ author.profilePicture) }}" alt="" class="d-flex mr-3 profilePicture">
            <div class="media-body"><p class="text-center"></p>{{ author.username|capitalize }}</div>
        </div>
        <p class="text-center">{{ actualite.updateAt|localizeddate('full', 'none')|upper }}</p>
        <div class="media">
            <img src="{{ asset('bundles/app/img/'~actualite.actualiteImage) }}" alt="" class="d-flex mr-3 imgActualite">

            <div class="media-body">
                <h1>{{ actualite.title|upper }}</h1>
                <p class="text-justify">{{ actualite.content }}</p>
            </div>

        </div>
    </div>
{% endblock %}