{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/actualite.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid" id="headContainer">
        <img src="{{ asset('bundles/app/img/logo.png') }}" alt="logo_nao" id="logo">
        <h1 class="text-center">{{ actualite.title|upper }}</h1>
        <p class="text-center">Accueil>>Actualités>>>{{ actualite.title|capitalize }}</p>
    </div>
    <div class="container">
        {#----------------#}
        {#PARTIE ACTUALITE#}
        {#----------------#}
        <div class="media">
            <img src="{{ asset('bundles/app/img/'~ user.profilePicture) }}" alt="" class="d-flex mr-3 profilePicture">
            <div class="media-body"><p class="text-center"></p>{{ user.username|capitalize }}</div>
        </div>
        <p class="text-center">{{ actualite.updateAt|localizeddate('full', 'none')|upper }}</p>
        <div class="media">
            <img src="{{ asset('bundles/app/img/'~actualite.actualiteImage) }}" alt="" class="d-flex mr-3 imgActualite">

            <div class="media-body">
                <h1>{{ actualite.title|upper }}</h1>
                <p class="text-justify">{{ actualite.content }}</p>
            </div>
        </div>

        {#-------------------#}
        {#PARTIE COMMENTAIRES#}
        {#-------------------#}
        <section id="commentSection">
            <div id="commentsContainer">
                {% for comment in comments %}
                    <div class="media">
                        <img src="{{ asset('bundles/app/img/'~comment.user.profilePicture) }}" alt="" class="d-flex mr-3 imgComment">
                        <div class="row">
                            <div class="media-body col-5">
                                <p><strong>{{ comment.user.username|capitalize }}</strong><br>
                                    <span class="text-muted">{{ comment.updateAt|ago }}</span></p>

                            </div>
                            <div class="media-body col-7">
                                <p>{{ comment.content|capitalize }}</p>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>

            {#-------------------#}
            {#FORMUALAIRE COMMENT#}
            {#-------------------#}

            <div class="row mt-5">

                <div class="col-7 d-flex addComment" id="addComment" >
                    {% include 'form/commentForm.html.twig' %}
                </div>
                <div class="col-3 ml-auto">
                    <i class="fa fa-facebook-official fa-3x mx-2" aria-hidden="true" style="color: #999999"></i>
                    <i class="fa fa-instagram fa-3x mx-2" aria-hidden="true" style="color: #999999"></i>
                    <i class="fa fa-twitter fa-3x mx-2" aria-hidden="true" style="color: #999999"></i>
                </div>


            </div>
        </section>



    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/actualite.js') }}"></script>
{% endblock %}