{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}
{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">

{% endblock %}

{% block body %}

    <div class="container-fluid heading-page">
        <h1 class="text-center">ADMINISTRATION</h1>
        <p class="text-center"><a href="{{ path('homepage') }}">Accueil</a> >> <a href="{{ path('admin') }}">Administration</a></p>
    </div>
    <div class="wave-svg">
        <svg width="100%" height="100%" viewBox="0 0 1430 80" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="wave-driedwood">
                    <g transform="translate(720.000000, 40.000000) scale(1, -1) translate(-720.000000, -40.000000) ">
                        <g>
                            <path d="M0,52 C0,52 153,1.46804748e-14 378.5,0 C604,0 836,52 1005,52 C1174,52 1440,0 1440,0 L1440,80 L0,80 L0,52 Z"
                                  fill="#E7E1DC"></path>
                            <path d="M0,78 C0,78 153,26 378.5,26 C604,26 836,78 1005,78 C1174,78 1440,26 1440,26 L1440,80 L0,80 L0,78 Z"
                                  fill="#F7F3F1"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>

    <section class="mt-5">
        <div class="container-fluid">
            <div class="heading">
                <span>{{ 'Gérez depuis ce pannel les utilisateurs ainsi que les actualité'|upper }}</span>
            </div>
        </div>

        <div class="row justify-content-center">
            {#-------------------------------#}
            {#PARTIE Gestion des utilisateurs#}
            {#-------------------------------#}
            <div class="col m-3">
                <h3 class="text-center">Gestion des utilisateurs</h3>
                <div class="input-group align-items-center mb-3">
                    <input type="text" class="form-control" id="searchUser" placeholder="Rechercher un utilisateur">
                    <a class="input-group-addon text-center" href="#searhUser"><i class="fa fa-search input-group-icon"></i></a>
                </div>
                <section id="userSection">

                    <div class="container p-0">

                        <div class="flex-wrap flex-column users-display flex-nowrap p-0" id="userDisplay">
                            {% for user in users %}
                                <div class="row mb-2" id="user_{{ user.id }}">
                                    <div class="col-3 col-sm-4 col-lg-2 ml-2">
                                        <img src="{{ asset('img/profilePictures'~user.profilePicture) }}" alt=""
                                             class="imgUser rounded-circle">
                                    </div>
                                    <div class="col-3 col-sm-4 col-lg-2 mr-3">
                                        <p class=""><strong>{{ user.username|capitalize }}</strong></p>
                                        <span>
                                                    {% for role in user.roles %}
                                                        {% if role == 'ROLE_ADMIN' %}
                                                            <p>{{ 'administrateur' | upper }}</p>
                                                        {% elseif role == 'ROLE_NATURALISTE' %}
                                                            <p>{{ 'Naturaliste' | upper }}</p>
                                                        {% elseif role == 'ROLE_USER' %}
                                                            <p>{{ 'Utilisateur' | upper }}</p>
                                                        {% else %}
                                                            <p>{{ "Cette personne n'a pas de rôle, comment est-ce possible?" | upper }}</p>
                                                        {% endif %}
                                                    {% endfor %}
                                                </span>
                                    </div>

                                    <div class="media-body col-6 col-sm-8 col-lg-6 ml-3">
                                        <p class="text-justify">{{ user.email|capitalize }}</p>
                                        <div>
                                            <a href="#">
                                                <i class="fa fa-star-half-o fa-2x"
                                                   aria-hidden="true"
                                                   data-userId="{{ user.id }}"
                                                        {% for role in user.roles %}
                                                            {% if role == "ROLE_NATURALISTE" %}
                                                                style="opacity: 0.5"
                                                            {% endif %}
                                                        {% endfor %} >
                                                </i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-star fa-2x"
                                                   aria-hidden="true"
                                                        {% for role in user.roles %}
                                                            {% if role == "ROLE_USER" %}
                                                                style="opacity: 0.5"
                                                            {% endif %}
                                                        {% endfor %} >

                                                </i>
                                            </a>
                                            <a href="#"><i class="fa fa-trash fa-2x delete-user"
                                                           id="delete_user_{{ user.id }}" data-toggle="modal"
                                                           data-target="#deleteUserModal" aria-hidden="true"
                                                           data-url="{{ path('delete_user', { 'id': user.id } ) }}"
                                                           data-userid="{{ user.id }}"></i></a>

                                            {#-----MODAL DELETE USER-----#}
                                            <div class="modal modal-alert pt-5" id="deleteUserModal">
                                                <div class="close-wrap d-flex mx-auto align-items-center justify-content-center">
                                                    <button type="button" class="close-button text-center mb-1" data-dismiss="modal">
                                                        &times;
                                                    </button>
                                                </div>
                                                <div class="modal-dialog">

                                                    <div class="modal-content col-10 col-md-8 col-lg-6 py-4 mx-auto">
                                                        <div class="d-flex flex-column">
                                                            <div class="modal-title heading row justify-content-center mb-3">
                                                                <h2>Je suis un titre</h2>
                                                                <p>Vous êtes sur le point de supprimer définitivement {{ user.username }}</p>
                                                            </div>
                                                            <div class="text-center mx-auto">
                                                                <i class="fa fa-user-times fa-5x mb-3"></i>
                                                                <p>Cette action est irréversible !</p>
                                                            </div>
                                                            <div class="d-flex flex-column flex-sm-row justify-content-around mx-auto">
                                                                <button class="btn btn-outline" data-dismiss="modal">Annuler</button>
                                                                <button class="btn btn-primary ml-0 ml-sm-3 mt-3 mt-sm-0" type="submit" data-dismiss="modal" id="confirmDeleteUserBtn" data-userid="{{ user.id }}" >Confirmer</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {#-----END MODAL DELETE USER-----#}

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </section>

            </div>
            {#-------------------------------#}
            {#PARTIE Gestion des actualités#}
            {#-------------------------------#}
            <div class="col m-3">
                <h3 class="text-center">Gestion des actualités</h3>
                <section id="actualiteSection">

                    <div class="container p-0">

                        <div class="flex-wrap flex-column actualites-display flex-nowrap p-0">
                            {% for actualite in actualites %}
                                <div class="row mb-2 mt-2 ml-2" id="actualite_{{ actualite.id }}">

                                    <div class="col-9 col-sm-9 col-lg-9 mr-3">
                                        <p class=""><strong>{{ actualite.title }}</strong></p>
                                    </div>

                                    <div class="media-body col-3 col-sm-3 col-lg-3 ml-3">
                                        <div>

                                            <a href="#">
                                                <i class="fa fa-pencil-square-o fa-2x"
                                                   aria-hidden="true"
                                                   id="edit_{{ actualite.id }}"
                                                   data-actualiteId="{{ actualite.id }}">
                                                </i>
                                            </a>

                                            <a href="#">
                                                <i class="fa fa-trash fa-2x"
                                                   aria-hidden="true"
                                                   id="delete_actualite_{{ actualite.id }}"
                                                   data-actualiteId="{{ actualite.id }}"
                                                   data-url="{{ path('delete_actualite', {'id' :  actualite.id} ) }}">
                                                </i>
                                            </a>


                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>

                    {#Ajouter une actualite#}
                    <div id="add_actualite" class="mt-3">
                        <h3 class="text-center">Ajouter une actualité</h3>
                        <div id="addActualiteForm">
                            {{ form_start(formActualite) }}
                            {{ form_row(formActualite.title, {
                                'attr' : {
                                    'id' : 'titleInput',
                                    'placeholder' : 'Titre',
                                }}) }}
                            {{ form_row(formActualite.content) }}
                            {{ form_end(formActualite) }}
                        </div>
                    </div>
                </section>

            </div>
        </div>

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('js/admin.js') }}"></script>#}
    <script src="{{ asset('js/adminSearchUsers.js') }}"></script>
{% endblock %}

