{% extends "base.html.twig"  %}

{% block title %}A Propos{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/apropos.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid heading-page">
        <h1 class="text-center">à propos</h1>
        <p class="text-center">Accueil >> à propos</p>
    </div>
    <div class="wave-svg">
		<svg width="100%" height="100%" viewBox="0 0 1430 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="wave-driedwood">
                    <g transform="translate(720.000000, 40.000000) scale(1, -1) translate(-720.000000, -40.000000) ">
                        <g>
                            <path d="M0,52 C0,52 153,1.46804748e-14 378.5,0 C604,0 836,52 1005,52 C1174,52 1440,0 1440,0 L1440,80 L0,80 L0,52 Z" fill="#E7E1DC"></path>
                            <path d="M0,78 C0,78 153,26 378.5,26 C604,26 836,78 1005,78 C1174,78 1440,26 1440,26 L1440,80 L0,80 L0,78 Z" fill="#F7F3F1"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>

	<section class="mt-5">
		<div class="container">
			<div class="heading">
				<h2>qui sommes-nous</h2>
				<span>Et pourquoi nous défendons la cause ornithologique.</span>
			</div>
			<div class="flex-wrap media align-items-center justify-content-center p-0">
				<img class="col-12 col-md-4 rounded mr-md-4 p-0" src="{{ asset('img/amethyste.jpg') }}" alt="étourneau améthyste">
				<div class="media-body col-12 col-md-8 px-0">
					<h3 class="mt-5 mt-md-0 text-center text-md-left">Présentation de l'association</h3>
					<p class="text-justify">Nos amis les oiseaux (NAO) est une association de protection de l'environnement française fondée en 1983 ayant pour objectif « la protection des oiseaux et des écosystèmes dont ils dépendent et, en particulier, la faune et la flore qui y sont associées ». <br>
Nos amis les oiseaux est engagée sur l’ensemble du territoire national Français et se mobilise pour la protection de la biodiversité. A travers un réseau de naturalistes professionnels et amateurs qui partagent tous une passion pour les oiseaux et leur environnement naturel, « Nos amis les oiseaux » collecte des données d’observation afin de déterminer l’influence du climat sur la biodiversité. <br>
C’est grâce à l’engagement de chacun que nous pouvons mieux comprendre l’évolution des oiseaux dans leur milieu naturel et que nous pouvons rendre publics nos conclusions scientifiques. Amis des oiseaux ! C’est ensembles que nous contribuons à transmettre aux futures générations les valeurs essentielles pour mieux vivre avec la nature qui nous entoure.</p>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/apropos.js') }}"></script>
{% endblock %}