{% extends "base.html.twig"  %}

{% block title %}Contact{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block body %}
	<div class="container-fluid heading-page">
		<h1 class="text-center">CONTACT</h1>
		<p class="text-center">Accueil >> Contact</p>
	</div>
	<div class="wave-svg">
		<svg width="100%" height="100%" viewBox="0 0 1430 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="wave-driedwood">
                    <g transform="translate(720.000000, 40.000000) scale(1, -1) translate(-720.000000, -40.000000) ">
                        <g>
                            <path d="M0,52 C0,52 153,1.46804748e-14 378.5,0 C604,0 836,52 1005,52 C1174,52 1440,0 1440,0 L1440,80 L0,80 L0,52 Z" fill="#E7E1DC"></path>
                            <path d="M0,78 C0,78 153,26 378.5,26 C604,26 836,78 1005,78 C1174,78 1440,26 1440,26 L1440,80 L0,80 L0,78 Z" fill="#F7F3F1"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>

    {#------------#}
    {#-FORMULAIRE-#}
    {#------------#}
	{% for message in app.session.flashBag.get('success')  %}
		<div class="alert alert-success">{{ message }}</div>

	{% endfor %}
	<section class="mt-5">
		<div class="container">
			<div class="heading">
				<h3>Un problème ?</h3>
				<p>Vous rencontrez un souci ou vous avez tout simplement quelques questions ? Jetez d’abord un oeil aux <a href="{{ path('faq') }}">FAQ !</a><br>
Si vous ne trouvez pas l’information que vous souhaitiez, n’hésitez pas à nous contacter à l’aide de ce formulaire !</p>
			</div>
			<div class="row">
				<div class="col-12 col-lg-6 mx-auto">
                        {{ form_start(form) }}
						<div class="form-group align-items-center">
                            {{ form_row(form.subject, {
								'attr' : {
									'id': 'subject',
									'placeholder' : 'Sujet *'
								}
							} ) }}
						</div>
						<div class="form-group align-items-center">
                            {{ form_row(form.mail, {
								'attr' : {
									'id': 'mail',
									'placeholder' : 'Email *'
								}
							}) }}
						</div>
						<div class="form-group align-items-start">
                            {{ form_row(form.message, {
								'attr' : {
									'id': 'message',
									'placeholder' : 'Message *'
								}
							}) }}
						</div>

						<div class="text-center">
							<button role="submit" class="btn btn-primary mx-auto" href="#">ENVOYER</button>
						</div>
                        {{ form_end(form) }}
					<h4 class="text-center mb-4">Contactez-nous !</h4>
				</div>
			</div>
			{#<div class="row">
				<div class="col-12 col-lg-6 mx-auto">
					<h4 class="text-center mb-4">Contactez-nous !</h4>
					<div class="form-group align-items-center">
					    <input type="text" id="subject" name="subject" required="required" placeholder="Sujet *" class="form-control" />
					</div>
					<div class="form-group align-items-center">
					    <input type="text" id="mail" name="mail" required="required" placeholder="Email *" class="form-control" />
					</div>
					<div class="form-group align-items-start">
						<textarea name="message" id="message" cols="30" rows="10" placeholder="Message *" class="form-control"></textarea>
					</div>
					<div class="text-center">
				        <button role="submit" class="btn btn-primary mx-auto" href="#">ENVOYER</button>
				    </div>
				</div>
			</div>#}
		</div>
	</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/contact.js') }}"></script>
{% endblock %}
