{% extends "base.html.twig" %}

{% block title %}Welcome!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/home.css') }}">
{% endblock %}

{% block body %}

    <div class="banner">
        <div class="card  text-center mx-auto bg-transparent" style="width: 75%">
            <div class="home-heading">
                <h1 class="home-title">NOS AMIS LES OISEAUX</h1>
                <span class="home-baseline">D'aucuns ont des aventures... Vous êtes une aventure !</span>
            </div>
            <div class="container text-center mt-3">
                <a href="{{ path('observation') }}" class="btn btn-primary mx-auto">COMMENCER</a>
            </div>
        </div>
    </div>

    <img src="{{ asset('bundles/app/img/home/wave-cream.svg') }}" alt="vague" style="width: 100%">

    <section id="explication">
        <div class="container">
            <div class="heading">
                <h2>3 étapes</h2>
                <span>Pour bien commencer votre aventure !</span>
            </div>
            <div class="media d-flex align-items-center">
                <img class="d-flex mr-3" src="{{ asset('bundles/app/img/laptop.svg') }}">
                <div class="media-body">
                    <h3 class="mt-0">CRÉER UN COMPTE NAO</h3>
                    <p>Inscrivez-vous sur notre site, connectez-vous et profitez de l'ensemble des fonctionnalités proposées
                        par
                        l'association Nos Amis Les Animaux</p>
                </div>
            </div>

            <div class="row justify-content-center">
                <img class="col-sm-8 d-none d-sm-block" src="{{ asset('bundles/app/img/home/path-1.svg') }}" alt="chemin" style="width: 100%">
            </div>

            <div class="media d-flex align-items-center">
                <div class="media-body">
                    <h3 class="mt-0">OBSERVEZ AUTOUR DE VOUS</h3>
                    <p>Utilisez l'application pour visualiser les oiseaux qui ont été observés autour de vous et tenter à
                        votre
                        tour de les retrouver!<br>
                        Contemplez également les photos des autres utilisateurs ! </p>
                </div>
                <img class="d-flex mr-3" src="{{ asset('bundles/app/img/boussole-camera.svg') }}">
            </div>
            
            <div class="row justify-content-center">
                <img class="col-sm-8 d-none d-sm-block" src="{{ asset('bundles/app/img/home/path-2.svg') }}" alt="chemin" style="width: 100%">
            </div>

            <div class="media d-flex align-items-center">
                <img class="d-flex mr-3" src="{{ asset('bundles/app/img/notebooks.svg') }}">
                <div class="media-body">
                    <h3 class="mt-0">PARTAGEZ VOTRE EXPÉRIENCE</h3>
                    <p>Vous venez de prendre en photo un oiseau magnifique ? Partagez votre chez-d'oeuvre en saisissant
                        votre observation depuis votre smartphone ou depuis chez vous et en permettant ainsi à la communauté
                        d'en profiter !</p>
                </div>
            </div>
            <div class="container text-center mt-3">
                <a href="{{ path('observation') }}" class="btn btn-primary mx-auto">COMMENCER</a>
            </div>
        </div>{#Container#}
    </section>

    {#POURQUOI?#}
    <img src="{{ asset('bundles/app/img/home/wave-sand.svg') }}" alt="vague" style="width: 100%">
    <section id="pourquoi">
        <div class="container-fluid">
            <div class="card bg-transparent text-center mx-auto">
                <div class="heading">
                    <h2>Pourquoi ?</h2>
                    <span>Parce qu'en s'amusant, on peut aussi aider la recherche !</span>
                </div>
            </div>
            <div class="row align-items-center justify-content-around">
                <div class="col-12 col-lg-3 ml-auto">
                    <h3>L'OISEAU, UNE IDÉE DANS L'AIR</h3>
                    <p class="text-justify">Depuis une dizaine d’années la recherche a pu constater le fort impact de l’homme sur la vie animale, en particulier sur les oiseaux, pour qui la réduction de l’environnement naturel est fatale.</p>
                </div>
                <div class="col-12 col-lg-4">
                    <img src="{{ asset('bundles/app/img/protected_bird.png') }}" alt="hiboux_trop_choux" id="hiboux_trop_choux">
                </div>
                <div class="col-12 col-lg-3 mr-auto">
                    <h3>SOUTENEZ NOUS EN VOUS DIVERTISSANT</h3>
                    <p class="text-justify">Participez à un programme de recherche visant à étudier les effets du climat, de l’urbanisation et de l’agriculture sur la biodiversité gràace à vos observations lors de vos balades partout en France !</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

