{% extends "base.html.twig"  %}

{% block title %}Welcome!{% endblock %}
{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/home.css') }}">

{% endblock %}

{% block body %}

    <div class="well" id="contain">
        <h1>PAGE D'ACCUEIL</h1>
        <p><a href="{{ path('security_login') }}">Connexion</a></p>
        <p><a href="{{ path('user_register') }}">Inscription</a></p>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

