{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/profil.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid heading-page">
        <h1 class="text-center">Profil</h1>
        <p class="text-center">Accueil >> Profil</p>
    </div>
    <img class="wave-svg" src="{{ asset('bundles/app/img/template/wave-driedwood.svg') }}" alt="vague" style="width: 100%">


    {# PANEL D'ONGLET #}
    <div class="container">
        <ul class="nav nav-tabs align-items-end" id="userTab" role="tablist">
            <li class="text-center col nav-item">
                <a class="nav-link active pb-3 d-flex align-items-end justify-content-center" id="profile-tab" data-toggle="tab" href="#profile"
                   aria-selected="true">Récompenses</a>
            </li>
            <li class="text-center col nav-item">
                <a class="nav-link pb-3 d-flex align-items-end justify-content-center" id="observations-tab" data-toggle="tab" href="#observations" aria-selected="false">Mes observations</a>
            </li>
            <li class="text-center col nav-item">
                <a class="nav-link pb-3 d-flex align-items-end justify-content-center" id="settings-tab" data-toggle="tab" href="#settings" aria-selected="false">Paramètres</a>
            </li>
            <li class="text-center col nav-item">
                <a class="nav-link pb-3 d-flex align-items-end justify-content-center" id="validations-tab" data-toggle="tab" href="#validations" aria-selected="false">Validations</a>
            </li>
        </ul>
    </div>

    {# CONTENU TYPE D'UN ONGLET #}
    <section class="mt-5 tab-content">
        {# RECOMPENSES #}
        <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="container">
                <div class="heading">
                    <h2>Récompenses</h2>
                    <span>Progressez et devenez un véritable maître dans l'observation des oiseaux</span>
                </div>
                <div class="d-flex flex-wrap align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-start">
                            <img src="{{ asset('bundles/app/img/'~ user.profilePicture) }}" alt="photo de profil" class="rounded-circle" id="profilImg">
                            <div class="text-center text-md-left mt-3 ml-sm-3 mt-md-0">
                                <h3 class="mb-2 mb-md-3">{{ user.username|capitalize }}</h3>
                                <span>Niveau X : {{ user.level | capitalize }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <h3 class="mt-5 mt-md-0 mb-2 mb-md-3 text-center text-md-left">Prochain niveau</h3>
                        <div class="progress">
                            <div class="progress-bar"
                                 style="width: 77%">77%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <h3 class="mb-3 text-center">Récompenses</h3>
                </div>
            </div>
        </div>
        
        {# OBSERVATIONS #}
        <div class="tab-pane" id="observations" role="tabpanel" aria-labelledby="observations-tab">
            <div class="container">
                <div class="heading">
                    <h2>Mes observations</h2>
                    <span>Retrouvez vos meilleures captures et vos plus belles rencontres</span>
                </div>
            </div>
        </div>

        {# PARAMETRES #}
        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <div class="container">
                <div class="heading">
                    <h2>Paramètres</h2>
                    <span>Libre comme l'air, n'hésitez pas à modifier vos informations à votre guise</span>
                </div>

                <div class="d-flex flex-wrap align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="d-flex flex-column align-items-center">
                            <img src="{{ asset('bundles/app/img/'~ user.profilePicture) }}" alt="photo de profil" class="rounded-circle" id="profilImg">
                            <div class="text-center mt-3">
                                <span>Changer la photo de profil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <h4 class="text-center mb-4">Connectez-vous !</h4>
                    </div>
                </div>
            </div>
        </div>

        {# VALIDATIONS #}
        <div class="tab-pane" id="validations" role="tabpanel" aria-labelledby="validations-tab">
            <div class="container">
                <div class="heading">
                    <h2>Validations</h2>
                    <span>On dirait que la recherche à besoin de votre expertise !</span>
                </div>
            </div>
        </div>
    </section>

{% endblock %}