{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/profile.css') }}">
{% endblock %}

{% block body %}

    <div class="card text-center">
        <div class="card-title" id="titlePicture">
            <h1>PROFIL</h1>
        </div>
        <div class="card-body">
            <br>
            <div class="container-fluid">


                <ul class="nav nav-tabs justify-content-center" id="userTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active text-uppercase" id="awards-tab" data-toggle="tab" href="#awards"
                           aria-selected="true">Récompenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" id="observations-tab" data-toggle="tab" href="#observations"
                           aria-selected="false">Mes
                            observations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" id="settings-tab" data-toggle="tab" href="#settings" aria-selected="false">
                            Paramètres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" id="validations-tab" data-toggle="tab" href="#validations" aria-selected="false">
                            Validations</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">

            {#---------------------#}
            {#------Onglet---------#}
            {#----Récompenses------#}
            {#---------------------#}
            <div class="tab-pane active" id="awards" role="tabpanel" aria-labelledby="awards-tab">
                <div class="container-fluid">
                    <h2 class="text-center text-uppercase">Récompenses</h2>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <img src="{{ asset('bundles/app/img/separateur.png') }}" class="separateur"/>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <img src="{{ asset('bundles/app/img/'~ user.profilePicture) }}" class="profileImg">
                                </div>
                                <div class="col text-left">
                                    <h3>{{ user.username }}</h3>
                                    <p>Niveau X : lorem ipsum</p>
                                </div>
                            </div>
                        </div>
                        <div class="col text-left">
                            <h6>NIVEAU ACTUEL: {{ user.level | capitalize }}</h6>
                            <div class="progress">
                                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                                     style="width: 77%">77%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h3 class="text-center text-uppercase">Récompenses</h3>
                    <div class="d-flex flex-row justify-content-between row-h1">
                        <img class="p-4 item-h1" src="{{ asset('bundles/app/img/awards.jpg')}}" alt="récompense1" style="height: 10em">
                        <img class="p-4 item-h1" src="{{ asset('bundles/app/img/awards.jpg')}}" alt="récompense2" style="height: 10em">
                        <img class="p-4 item-h1" src="{{ asset('bundles/app/img/awards.jpg')}}" alt="récompense3" style="height: 10em">
                        <img class="p-4 item-h1" src="{{ asset('bundles/app/img/awards.jpg')}}" alt="récompense4" style="height: 10em; opacity: 0.5;">
                        <img class="p-4 item-h1" src="{{ asset('bundles/app/img/awards.jpg')}}" alt="récompense5" style="height: 10em; opacity: 0.5;">
                        <img class="p-4 item-h1" src="{{ asset('bundles/app/img/awards.jpg')}}" alt="récompense6" style="height: 10em; opacity: 0.5;">

                    </div>
                </div>
            </div>

            {#---------------------#}
            {#------Onglet---------#}
            {#----Mes OBSERVATIONS-#}
            {#---------------------#}
            <div class="tab-pane" id="observations" role="tabpanel" aria-labelledby="observations-tab">
                <div class="container-fluid">
                    <h2 class="text-center text-uppercase">Mes observations</h2>
                    <p class="text-center">Retrouvez vos meilleurs captures et vos plus belles rencontres</p>
                    <img src="{{ asset('bundles/app/img/separateur.png') }}" class="separateur"/>
                </div>
                <div class="container">
                    <div class="d-flex flex-row justify-content-between row-h1">
                        <div class="row">


                        {% for userObservation in userObservations  %}
                            <div class="col-6">
                            <div class="p-2 m-1 item-h1 observation">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="{{ userObservation.picture }}" alt="prise par {{ userObservation.user.username }}" class="observationPicture">
                                    </div>
                                    <div class="col-9">
                                        <div class="text-right">
                                            <p class="text-muted">Observé il y a {{ userObservation.updateAt | ago }}</p>
                                        </div>
                                        <h3>{{ userObservation.bird.name | capitalize }}</h3>
                                        <p>{{ userObservation.bird.cdName }}</p>
                                        <p class="text-right">
                                            <i class="fa fa-heart fa-3x" aria-hidden="true"><span class="badge badge-primary">{{ userObservation.vote }}</span></i></p>
                                    </div>

                                </div>
                            </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                </div>
            </div>

            {#---------------------#}
            {#------Onglet---------#}
            {#----PARAMETRES-------#}
            {#---------------------#}
            <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <div class="container-fluid">
                    <h2 class="text-center text-uppercase">Paramètre</h2>
                    <p class="text-center text-uppercase">Libre comme l'air, N'hésitez pas à modifier vos informations à votre guise</p>
                    <img src="{{ asset('bundles/app/img/separateur.png') }}" class="separateur"/>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a href="#"><img class="profileImg" src="{{ asset('bundles/app/img/'~ user.profilePicture) }}"></a>
                            <p><a href="#">Changer la photo de profil</a></p>

                        </div>

                        <div class="col">
                            <div class="col">
                                {{ form_start(formChangePseudo) }}
                                {{ form_row(formChangePseudo.username) }}
                                <button type="submit" class="btn btn-primary text-uppercase" formnovalidate>Modifier</button>
                                {{ form_end(formChangePseudo) }}
                            </div>
                        </div>
                        <div class="col">
                            {{ form_start(formChangePassword) }}
                            {{ form_row(formChangePassword._password,{
                                'label' : 'Mot de passe'
                            }) }}
                            {{ form_row(formChangePassword.plainPassword.first, {
                                'label' : 'Nouveau mot de passe'
                            }) }}
                            {{ form_row(formChangePassword.plainPassword.second, {
                                'label' : 'Confirmez votre mot de passe'
                            }) }}
                            <button type="submit" class="btn btn-primary" formnovalidate>Changer de mot de passe</button>
                            {{ form_end(formChangePassword) }}

                        </div>
                    </div>
                </div>
            </div>

            {#---------------------#}
            {#------Onglet---------#}
            {#----VALIDATIONS-------#}
            {#---------------------#}
            <div class="tab-pane" id="validations" role="tabpanel" aria-labelledby="validations-tab">
                <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                    <div class="container-fluid">
                        <h2 class="text-center text-uppercase">Validations</h2>
                        <p class="text-center text-uppercase">On dirait que la recherche à besoin de votre expertise !</p>
                        <img src="{{ asset('bundles/app/img/separateur.png') }}" class="separateur"/>
                    </div>
                    <div class="container goole-map">
                        <div class="container" style="height: 400px; border-radius: 20px; background-color: #999999"></div>
                    </div>
                    <div class="container last-observations mt-2">

                        <div class="d-flex flex-row justify-content-between row-h1">
                            <div class="row">


                                {% for observation in observations | slice (0,2) %}
                                    <div class="col-6">
                                        <div class="p-2 m-1 item-h1 observation">
                                            <div class="row">
                                                <div class="col-3">
                                                    <img src="{{ observation.picture }}" alt="prise par {{ observation.user.username }}" class="observationPicture">
                                                </div>
                                                <div class="col-9">
                                                    <div class="text-right">
                                                        <p class="text-muted">Observé il y a {{ observation.updateAt | ago }}</p>
                                                    </div>
                                                    <h3>{{ observation.bird.name | capitalize }}</h3>
                                                    <p>{{ observation.bird.cdName }}
                                                        <br>
                                                        Ajouté par <strong>{{ observation.user.username }}</strong>
                                                    </p>
                                                    <p class="text-right">
                                                        <i class="fa fa-heart fa-3x" aria-hidden="true"><span class="badge badge-primary">{{ observation.vote }}</span></i></p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>




{% endblock %}