{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/profil.css') }}">
{% endblock %}

{% block body %}

    <div class="card text-center" id="footer">
        <div class="card-body">
            <h4 class="card-title">PROFIL</h4>
            <br>
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Récompenses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes observations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Paramètres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Validations</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <h1 class="text-center">Titre</h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <img src="{{ asset('bundles/app/img/separateur.png') }}" class="separateur"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <img src="{{ asset('bundles/app/img/anonyme.png') }}" id="profilImg">
                    </div>
                        <div class="col">
                             <h6>NOM UTILISATEUR</h6>
                            <p>Niveau X : lorem ipsum</p>
                        </div>
                </div>
            </div>
            <div class="col">
                <h6>NIVEAU ACTUEL: {{ niveau }}</h6>
                <div class="progress">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 77%">77%</div>
                </div>
            </div>
        </div>

{% endblock %}