{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid heading-page">
        <h1 class="text-center">Profil</h1>
        <p class="text-center"><a href="{{ path('homepage') }}">Accueil</a> >> <a href="{{ path('profile') }}">Profil</a></p>
    </div>
    <div class="wave-svg">
        <svg width="100%" height="100%" viewBox="0 0 1430 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="wave-driedwood">
                    <g transform="translate(720.000000, 40.000000) scale(1, -1) translate(-720.000000, -40.000000) ">
                        <g>
                            <path d="M0,52 C0,52 153,1.46804748e-14 378.5,0 C604,0 836,52 1005,52 C1174,52 1440,0 1440,0 L1440,80 L0,80 L0,52 Z" fill="#E7E1DC"></path>
                            <path d="M0,78 C0,78 153,26 378.5,26 C604,26 836,78 1005,78 C1174,78 1440,26 1440,26 L1440,80 L0,80 L0,78 Z" fill="#F7F3F1"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>

	{#---------------------#}
	{#------Panel----------#}
	{#------Onglets--------#}
	{#---------------------#}
    <div class="container">
        <ul class="nav nav-tabs" id="userTab" role="tablist">
            <li class="text-center col-12 col-md nav-item">
                <a class="nav-link active pb-3 d-flex align-items-end justify-content-center" id="profile-tab"
                   data-toggle="tab" href="#profile"
                   aria-selected="true">Récompenses</a>
            </li>
            <li class="text-center col-12 col-md nav-item">
                <a class="nav-link pb-3 d-flex align-items-end justify-content-center" id="observations-tab"
                   data-toggle="tab" href="#observations" aria-selected="false">Mes observations</a>
            </li>
            <li class="text-center col-12 col-md nav-item">
                <a class="nav-link pb-3 d-flex align-items-end justify-content-center" id="settings-tab"
                   data-toggle="tab" href="#settings" aria-selected="false">Paramètres</a>
            </li>
            {% if is_granted('ROLE_NATURALISTE') %}
                <li class="text-center col-12 col-md nav-item">
                    <a class="nav-link pb-3 d-flex align-items-end justify-content-center" id="validations-tab"
                       data-toggle="tab" href="#validations" aria-selected="false">Validations</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <section class="mt-5 tab-content">
        {#---------------------#}
        {#------Onglet---------#}
        {#----Récompenses------#}
        {#---------------------#}

        <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="container">
                <div class="heading">
                    <h2>Récompenses</h2>
                    <span>Progressez et devenez un véritable maître dans l'observation des oiseaux</span>
                </div>
                {% for message in app.session.flashBag.get('success')  %}
                    <div class="alert alert-success">{{ message }}</div>

                {% endfor %}
                <div class="d-flex flex-wrap align-items-center">

                	{# Informations utilisateur #}
                    <div class="col-12 col-md-6">
                        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-start">
                            <img src="{{ asset('img/profilePictures'~ user.profilePicture) }}" alt="photo de profil"
                                 class="rounded-circle" id="profileImg">
                            <div class="text-left mt-0 ml-3 mt-md-3">
                                <h3 class="mb-2 mb-md-3">{{ user.username|capitalize }}</h3>
                                <span>Niveau 12 : {{ user.level | capitalize }}</span>
                            </div>
                        </div>
                    </div>

                    {# Barre de progression #}
                    <div class="col-12 col-md-6">
                        <h3 class="mt-5 mt-md-0 mb-2 mb-md-3 text-center text-md-left">Prochain niveau</h3>
                        <div class="progress">
                            <div class="progress-bar"
                                 style="width: 77%">77%
                            </div>
                        </div>
                    </div>
                </div>

				{# Liste des récompenses #}
                <div class="col-12 mt-5">
                    <h3 class="mb-3 text-center">Récompenses</h3>
                    <div class="d-flex flex-wrap justify-content-center">
                        <div class="d-flex justify-content-center col-6 col-sm-4 col-lg-2 p-0 mb-4">
                        	<img class="recompense" src="{{ asset('img/elements/recompense/reward1.png') }}" alt="récompense1">
                        </div>
                        <div class="d-flex justify-content-center col-6 col-sm-4 col-lg-2 p-0 mb-4">
                        	<img class="recompense" src="{{ asset('img/elements/recompense/reward2.png') }}" alt="récompense2">
                        </div>
                        <div class="d-flex justify-content-center col-6 col-sm-4 col-lg-2 p-0 mb-4">
                        	<img class="recompense" src="{{ asset('img/elements/recompense/reward3.png') }}" alt="récompense3">
                        </div>
                        <div class="d-flex justify-content-center col-6 col-sm-4 col-lg-2 p-0 mb-4">
                        	<img class="recompense" src="{{ asset('img/elements/recompense/reward4.png') }}" alt="récompense4">
                        </div>
                        <div class="d-flex justify-content-center col-6 col-sm-4 col-lg-2 p-0 mb-4">
                        	<img class="recompense" src="{{ asset('img/elements/recompense/reward5.png') }}" alt="récompense5">
                        </div>
                        <div class="d-flex justify-content-center col-6 col-sm-4 col-lg-2 p-0 mb-4">
                        	<img class="recompense" src="{{ asset('img/elements/recompense/reward6.png') }}" alt="récompense6">
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {#---------------------#}
        {#------Onglet---------#}
        {#----Mes OBSERVATIONS-#}
        {#---------------------#}
        <div class="tab-pane" id="observations" role="tabpanel" aria-labelledby="observations-tab">
            <div class="container-fluid">
                <div class="heading">
                    <h2>Mes observations</h2>
                    <span>Retrouvez vos meilleures captures et vos plus belles rencontres</span>
                </div>
            	{# Liste des observations utilisateur #}
                <div class="row justify-content-xl-center">
                    {% for userObservation in userObservations %}
                    	{# Carte oiseau observé #}
                        <div class="col-12 col-sm-10 col-lg-6 col-xxl-5 mx-auto mx-xl-0 mb-4">
                            <div class="p-2 nao-card mx-auto">
                            	<div class="d-flex flex-nowrap">
                                    <div class="bird-img-wrapper">
                                        {% if userObservation.image == null %}
                                            <img src="{{ asset('img/observations/anonymeBird.png') }}"
                                                                       alt="prise par {{ userObservation.user.username }}"
                                                                       class="bird-img">
                                            {% else %}

                                                <img src="{{ asset('img/observations/'~userObservation.image) }}"
                                                     alt="prise par {{ userObservation.user.username }}"
                                                     class="bird-img">
                                        {% endif %}

                                    </div>
                                    <div class="col d-flex flex-column justify-content-between">
                                        <div class="align-self-end">
                                            <span class="text-muted time">Observé il y
                                                a {{ userObservation.updateAt | ago }}</span>
                                        </div>
                                        <div class="d-flex flex-column align-self-start">
                                        	<h3 class="align-self-start text-left">{{ userObservation.bird.name }}</h3>
                                        	<p class="align-self-start m-0">{{ userObservation.user.username | capitalize }}</p>

                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            {% if userObservation.isValidated == true %}
                                                <strong><span style="color: #aacd4e">Observation validée !</span></strong>
                                            {% else %}<span style="color: coral"><strong>Attente de validation...</strong></span>
                                            {% endif %}
											<span class="fa-stack fa">
												<i class="fa fa-heart fa-stack-2x" aria-hidden="true"></i>
												<strong class="fa fa-stack heart-text">{{ userObservation.usersVoted|length }}</strong>
											</span>
                                        </div>
                                    </div>
                            	</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        {#---------------------#}
        {#------Onglet---------#}
        {#----PARAMETRES-------#}
        {#---------------------#}
        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <div class="container">
                <div class="heading">
                    <h2>Paramètres</h2>
                    <span>Libre comme l'air, n'hésitez pas à modifier vos informations à votre guise</span>
                </div>

                <div class="container">


					{#---EN COURS---#}
                	<div class="d-flex flex-wrap align-items-center">
                	    {# FORMULAIRE DE CHANGEMENT D'AVATAR #}
                	    <div class="col-12 col-md-6 mb-5">
                	        <div class="d-flex flex-column align-items-center">
                	            <img src="{{ asset('img/profilePictures'~ user.profilePicture) }}" alt="photo de profil" class="rounded-circle" id="profileImg">
                	            <div class="text-center mt-3">
                	                <span>Changer la photo de profil</span>
                	            </div>
                	        </div>
                	    </div>
                	    {# FORMULAIRE DE CHANGEMENT DE PSEUDO #}
                	    <div class="col-12 col-md-6">
                	        <h4 class="text-center mb-4">Modifier votre pseudo</h4>
                            <div class="row">
                                <div class="col">
                                    {{ form_start(formChangePseudo) }}
                                        {{ form_row(formChangePseudo.username) }}
                                    {{ form_end(formChangePseudo) }}
                                    <button type="submit" class="btn btn-primary text-uppercase d-flex mx-auto" formnovalidate>MODIFIER</button>
                                </div>
                            </div>
                	    </div>
                	</div>
                	{#---EN COURS---#}


                    <div class="row mt-5">

                        {# FORMULAIRE DE CHANGEMENT D'EMAIL #}
                        {# <div class="col-12 col-md-6">
                            <h4 class="text-center mb-4">Modifier votre mot de passe</h4>
                            <div class="col">
                                {{ form_start(formChangePassword) }}
                                {{ form_row(formChangePassword._password,{
                                    'label' : 'Ancien mot de passe',
                                    'attr' : {
                                        'placeholder' : "Ancien mot de passe"
                                    },
                                    'class' : ''
                                }) }}
                                {{ form_row(formChangePassword.plainPassword.first, {
                                    'label' : 'Nouveau mot de passe',
                                    'attr' : {
                                        'placeholder' : "Nouveau mot de passe"
                                    }
                                }) }}
                                {{ form_row(formChangePassword.plainPassword.second, {
                                    'label' : 'Confirmez votre mot de passe',
                                    'attr' : {
                                        'placeholder' : "Confirmez votre mot de passe"
                                    }
                                }) }}
                                <button type="submit" class="btn btn-primary d-flex mx-auto" formnovalidate>MODIFIER
                                </button>
                                {{ form_end(formChangePassword) }}
                            </div>
                        </div> #}

                        {# FORMULAIRE DE CHANGEMENT DE MOT DE PASSE #}
                        <div class="col-12 col-md-6">
                            <h4 class="text-center mb-4">Modifier votre mot de passe</h4>
                            <div class="col">
                                {#{{ form_start(formChangePassword) }}
                                {{ form_row(formChangePassword._password,{
                                    'label' : 'Ancien mot de passe',
                                    'attr' : {
                                        'placeholder' : "Ancien mot de passe"
                                    },
                                    'class' : ''
                                }) }}
                                {{ form_row(formChangePassword.plainPassword.first, {
                                    'label' : 'Nouveau mot de passe',
                                    'attr' : {
                                        'placeholder' : "Nouveau mot de passe"
                                    }
                                }) }}
                                {{ form_row(formChangePassword.plainPassword.second, {
                                    'label' : 'Confirmez votre mot de passe',
                                    'attr' : {
                                        'placeholder' : "Confirmez votre mot de passe"
                                    }
                                }) }}
                                <button type="submit" class="btn btn-primary d-flex mx-auto" formnovalidate>MODIFIER
                                </button>
                                {{ form_end(formChangePassword) }}#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#---------------------#}
        {#------Onglet---------#}
        {#----VALIDATIONS-------#}
        {#---------------------#}
        <div class="tab-pane" id="validations" role="tabpanel" aria-labelledby="validations-tab">
            <div class="container-fluid">
                <div class="heading">
                    <h2>Validations</h2>
                    <span>On dirait que la recherche à besoin de votre expertise !</span>
                </div>

				{# Google Map #}
	            <div class="mb-5 col-12 col-sm-10 col-lg-12 col-xxl-10 mx-auto px-0">
	                <div class="rounded" style="height: 400px;" id="map"></div>
	            </div>

				{# Liste des validations en attente #}
	            <div class="row justify-content-xl-center">
	                {% for waitingObservation in waitingObservations %}
                        <div class="col-12 col-sm-10 col-lg-6 col-xxl-5 mx-auto mx-xl-0 mb-4 oneBird" data-waitingObservationId = {{ waitingObservation.id }}>
                            <a href="#" data-toggle="modal"
                                   data-target="#waitingObservationModal_{{ loop.index }}">
    	                        <div class="p-2 nao-card mx-auto">
    	                        	<div class="d-flex flex-nowrap">
    	                                <div class="bird-img-wrapper">
    	                                    <img src="img/observations/{{ waitingObservation.image }}"
    	                                         alt="prise par {{ waitingObservation.user.username }}"
    	                                         class="bird-img">
    	                                </div>
    	                                <div class="col d-flex flex-column justify-content-between">
    	                                    <div class="align-self-end">
    	                                        <p class="text-muted">Observé il y
    	                                            a {{ waitingObservation.updateAt | ago }}</p>
    	                                    </div>
    	                                    <div class="d-flex flex-column align-self-start">
    	                                    	    <h3 class="align-self-end text-left">{{ waitingObservation.bird.name | capitalize }}</h3>
    	                                    	<p class="align-self-start m-0">{{ waitingObservation.user.username | capitalize }}</p>
    	                                    </div>
    	                                    <div class="align-self-end">
    											<span class="fa-stack fa">
    												<i class="fa fa-heart fa-stack-2x" aria-hidden="true"></i>
    												<strong class="fa fa-stack heart-text">{{ waitingObservation.usersVoted|length }}</strong>
    											</span>
    	                                    </div>
    	                                </div>
    	                        	</div>
    	                        </div>
                            </a>
	                    </div>

                        {#-------------#}
                        {#----MODALE---#}
                        {#-OBSERVATION-#}
                        {#-------------#}
                        <div id="waitingObservationModal_{{ loop.index }}" class="modal fade"
                             role="dialog">
                                <div class="close-wrap d-flex mx-auto align-items-center justify-content-center">
                                    <button type="button" class="close-button text-center mb-1" data-dismiss="modal">
                                        &times;
                                    </button>
                                </div>
                            <div class="modal-dialog bird-modal mx-auto">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="heading mt-5">
                                        <h2>{{ waitingObservation.bird.name }}</h2>
                                        <span>{{ waitingObservation.bird.taxref.nomScientifique }}</span>
                                    </div>

                                    <div class="modal-body py-0 mb-5">
                                        <div class="flex-wrap media align-items-center justify-content-center px-0 px-md-3">
                                            {% if waitingObservation.bird.image %}
                                                <img class="col-12 col-md-4 rounded mr-md-4 p-0" src="{{asset('img/observations/'~waitingObservation.bird.image)  }}" alt="image {{ waitingObservation.bird.name }}">
                                            {% else %}
                                                <img class="col-12 col-md-4 rounded mr-md-4 p-0" src="{{asset('img/observations/anonymeBird.png')  }}" alt="image {{ waitingObservation.bird.name }}">
                                            {% endif %}

                                            <div class="media-body col-12 col-md-8 p-0">
                                                <h3 class="mt-5 mt-md-0 text-center text-md-left">DESCRIPTION</h3>
                                                <p class="text-justify">{{ waitingObservation.bird.description }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer pt-5 text-center">
                                        <div class="text-center col-12 px-0 px-md-3">
                                            <h3>OBSERVATION</h3>
                                            <div class="col-12">
                                                <div class="row align-items-center justify-content-start my-5">
                                                    <img src="{{ asset('img/profilePictures/'~waitingObservation.user.profilePicture) }}" alt="Photo de {{ waitingObservation.user.username }}" class="observation-avatar rounded-circle">
                                                    <div class="justify-content-start ml-3">
                                                        <p class="text-left mb-1 user-name">{{ waitingObservation.user.username|capitalize }}</p>
                                                        <span class="text-left time">{{ waitingObservation.updateAt|ago }}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12 col-lg-6">
                                                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                                                        <div class="col-12 rounded p-0 mb-5">
                                                            <span class="fa-stack fa fa-2x">
                                                                <i class="fa fa-heart fa-stack-2x voteJs" id="voteFor{{ waitingObservation.id }}" aria-hidden="true" data-observationId="{{ waitingObservation.id }}" data-userId="{{ user.id }}"></i>
                                                                <strong class="fa fa-stack heart-text voteJs heartJs" data-observationId="{{ waitingObservation.id }}" data-userId="{{ user.id }}">{{ waitingObservation.usersVoted|length }}</strong>
                                                            </span>
                                                            {% if waitingObservation.image %}
                                                                <img class="col-12 rounded p-0 mb-5" src="{{asset('img/observations/'~waitingObservation.image)  }}" alt="image {{ waitingObservation.bird.name }}">
                                                            {% else %}
                                                                <img class="col-12 rounded p-0 mb-5" src="{{asset('img/observations/anonymeBird.png')  }}" alt="image {{ waitingObservation.bird.name }}">
                                                            {% endif %}
                                                        </div>

                                                        <div class="col-12 col-xl-6 p-0 pr-xl-3">
                                                            <label id='chooseScientificName' for='nomScientifique{{ waitingObservation.id }}'>Choisissez le nom scientifique</label>
                                                            <select class="form-control" id='nomScientifiqueSelect{{ waitingObservation.id }}'  size="10">

                                                            </select>
                                                        </div>
                                                        {#<div class="col-12 col-xl-6 p-0">
                                                            <div class="form-group p-0">
                                                                <input type="text" name="order" required="required" placeholder="Ordre" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-xl-6 p-0 pr-xl-3">
                                                            <div class="form-group p-0">
                                                                <input type="text" name="birdname" required="required" placeholder="Nom de l'éspèce" class="form-control" />
                                                            </div>
                                                        </div>#}
                                                        {#<div class="col-12 col-xl-6 p-0">
                                                            <div class="form-group p-0">
                                                                <input type="text" name="birdnumber" required="required" placeholder="Nombre d'oiseaux" class="form-control" />
                                                            </div>
                                                        </div>#}
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    {# Google Map #}
                                                    <div class="col-12 rounded p-0 mb-5" id="googlemapsObservation{{ waitingObservation.id }}" data-observationId="{{ waitingObservation.id }}">
                                                        <div class="rounded" style="height: 350px; background-color: #999999" id="mapObservation{{ waitingObservation.id }}">

                                                        </div>
                                                    </div>



                                                    {# AFFICHAGE COMMENTAIRES #}
                                                    <div class="flex-wrap flex-column comm-display p-0 mb-4" id="Js-observationCommentsDisplay{{ waitingObservation.id }}">
                                                        {% for comment in waitingObservation.comments %}
                                                            <div class="d-flex flex-nowrap align-items-center comm m-3">
                                                                <img src="{{ asset('img/profilePictures'~comment.user.profilePicture) }}" alt="" class="comment-avatar rounded-circle">
                                                                <div class="col-12 pl-3 text-left">
                                                                    <div class="col-12 px-0">
                                                                        <p class="mb-1 font-weight-bold">{{ comment.user.username|capitalize }}</p>
                                                                    </div>
                                                                    <div class="col-12 px-0">
                                                                        <p class="mb-0 text-left">{{ comment.content|capitalize }}</p>
                                                                    </div>
                                                                    <div class="col-12 px-0">
                                                                        <span class="time">{{ comment.updateAt|ago }}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>

                                                    {# AJOUT COMMENTAIRE #}
                                                    <div class="col-12 px-0" id="addComment" >
                                                        {% include 'form/commentFormWaitingObservation.html.twig' %}
                                                    </div>
                                                </div>
                                            </div>
                                        {# BOUTONS #}
                                        <div class="col-12 mt-4 p-0">
                                            <div class="d-flex flex-wrap justify-content-around justify-content-sm-between align-items-center">
                                                <a href="{{ path('observation') }}" class="text-center btn btn-outline my-3 my-sm-0">Refuser</a>
                                                <a href="{{ path('observation') }}" class="text-center btn btn-primary my-3 my-sm-0">Valider</a>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
	                {% endfor %}
	            </div>
        	</div>
        </div>
    


    </section>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM-LWXFSraqzHfltfjrg0aIgHYdDp9EpI">
    </script>
    <script src="{{ asset('js/jquery-dateFormat.min.js') }}"></script>
    <script src="{{ asset('js/profile.js') }}"></script>
{% endblock %}