{% extends "base.html.twig" %}


{% block title %}Connexion{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-social.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome.css') }}">
{% endblock %}




{% block body %}

    <div class="container row" id="form">
        <div class="col">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Connexion!</h1>
                    <a href="{{ path('connect_to_facebook') }}" class="btn btn-block btn-social btn-facebook">
                        <span class="fa fa-facebook"></span>Connectez-vous avec Facebook</a>
                    <a href="#" class="btn btn-block btn-social btn-google">
                        <i class="fa fa-google"></i>Connectez-vous avec Google</a>
                    {% if error %}
                        <div class="alert alert-danger">
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        </div>
                    {% endif %}
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-info">
                            <div>{{ message }}</div>
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">
                            <div>{{ message }}</div>
                        </div>
                    {% endfor %}
                    {{ form_start(form) }}
                    {{ form_row(form._username, {'attr':{'placeholder':'mon placeholder', 'class' : 'maClasse'}}) }}
                    {{ form_row(form._password) }}

                    <button type="submit" class="btn btn-primary" formnovalidate>Connexion</button>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col">
            <h1>Vous avez oublié votre mot de passe?</h1>
            <button class="btn btn-warning" data-toggle="modal" data-target="#forgetPassModal">Mot de passe oublié</button>
            <div class="modal" id="forgetPassModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">J'ai oublié mon mot de pass</h5>
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Un nouveau mot de passe vous sera envoyé par email</p>
                            <form action="{{ path('reset') }}" method="POST">
                                <div class="form-group">
                                    <label for="username">Pseudo</label>
                                    <input type="text" name="username" class="form-control">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">Envoyer</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {#J'ai perdu mon mdp modal#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundle/app/js/login.js') }}"></script>
{% endblock %}
