{% extends "base.html.twig" %}


{% block title %}Connexion{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-social.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome.css') }}">
{% endblock %}


{% block body %}
    <div class="container-fluid heading-page">
        <h1 class="text-center">Connexion</h1>
        <p class="text-center">Accueil >> Connexion</p>
    </div>
    <img src="{{ asset('bundles/app/img/template/wave-driedwood.svg') }}" alt="vague" style="width: 100%">

    <div class="container mt-5" id="form">
        <div class="row">
            <div class="col-12 col-lg-6 mx-auto">
                <div class="heading">
                    <h2>Rentrez !</h2>
                    <span>Vous êtes ici chez vous !</span>
                </div>
                <h4 class="text-center mb-4">Connectez-vous !</h4>
                <a href="{{ path('connect_to_facebook') }}" class="btn btn-block btn-social btn-facebook text-center">Se connecter avec Facebook</a>
                <a href="#" class="btn btn-block btn-social btn-google text-center">Se connecter avec Google</a>
                {% if error %}
                    <div class="alert alert-danger">
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    </div>
                {% endif %}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-info">
                        <div>{{ message }}</div>
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        <div>{{ message }}</div>
                    </div>
                {% endfor %}
                {{ form_start(form) }}
                {{ form_row(form._username) }}
                {{ form_row(form._password) }}


                <div class="row text-center">
                    <p class="col-12 col-md-6 mb-4" data-toggle="modal" data-target="#forgetPassModal">Se souvenir de moi</p>
                    <a class="col-12 col-md-6 mb-4" data-toggle="modal" data-target="#forgetPassModal" href="#">Mot de passe oublié</a>
                </div>

                <div class="text-center">
                    <button role="submit" class="btn btn-primary mx-auto" formnovalidate>Se connecter</button>
                </div>
                {{ form_end(form) }}
            </div>

            <div class="modal" id="forgetPassModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">J'ai oublié mon mot de passe</h5>
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Un nouveau mot de passe vous sera envoyé par email</p>
                            <form action="{{ path('reset') }}" method="POST">
                                <div class="form-group">
                                    <label for="username">Pseudo</label>
                                    <input type="text" name="username" class="form-control">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">Envoyer</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    {#J'ai perdu mon mdp modal#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundle/app/js/login.js') }}"></script>
{% endblock %}
